html {
    font: 1em;
    font-family: Arial, sans-serif;
    color: white;
}

body {
    margin: 20px;
}

header {
    background-color: #00003f;

    font-family: 'Lobster';
    font-weight: bold;
    font-size: 3em;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

nav {
    background-color: #000080;

    margin-top: 0;
    margin-bottom: 10px;
    padding: 4px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    list-style: none;
}

nav li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li.active-page {
    border-bottom: 3px solid white;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flexbox;
}

article {
    border-left: 1px solid #3d3d3d;
    border-right: 1px solid #3d3d3d;
    border-bottom: 1px solid #3d3d3d;

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    font-weight: 100;
}

article h2 {
    background-color: #3d3d3d;
    margin: 0px;
    padding: 5px;
}

article h3 {
    background-color: #616161;
    font-size: 0.8em;
    margin: 0px;
    padding: 5px;
}

article p {
    color: black;
    padding: 5px;
}