html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

body {
    margin: 20px;
    color: white;
}

header {
    background: url("./images/bandeau.png") center center / cover no-repeat;
    font-weight: bold;
    font-size: 3em;
    text-align: center;

    padding: 10px;
}

header img.fit-picture {
    width: 100%;
}

nav {
    background-color: #000080;

    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    margin: 0px;
    padding: 10px;
}

nav ul li.active-page {
    background-color: #00003f;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

article {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    font-weight: 150;
}

article h2 {
    color: #00003f;
    border-bottom: 2px solid #00003f;
    margin: 0px;
    padding: 5px;
    padding-bottom: 2px;
}

article h3 {
    color: #000080;
    font-size: 0.8em;
    margin: 0px;
    padding: 8px;
}

article content {
    display: flex;
    flex-direction: column;
}

article content img {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 150px;
    height: 150px;
}

article content div {
    flex: 1;
}

article p {
    color: black;
    padding: 5px;
}

@media screen and (min-width: 800px) {
    main {
        flex-direction: row;
    }

    article content {
        flex-direction: row;
    }

    nav {
        width: 20%;
    }

    nav ul {
        flex-direction: column;
    }
}