html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;

    color: white;
}

body {
    margin: 20px;
}

header {
    background-color: #00003f;

    font-weight: bold;
    font-size: 3em;
    text-align: center;

    padding: 10px;
}

nav {
    background-color: #000080;

    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    list-style: none;

}

nav li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    margin: 0px;
    padding: 10px;
}

nav ul li.active-page {
    background-color: #00003f;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flexbox;
}

article {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    font-weight: 100;
}

article h2 {
    color: #00003f;
    border-bottom: 2px solid #00003f;
    margin: 0px;
    padding: 5px;
    padding-bottom: 2px;
}

article h3 {
    color: #000080;
    font-size: 0.8em;
    margin: 0px;
    padding: 8px;
}

article p {
    color: black;
    padding: 5px;
}